.container{
    background: linear-gradient(0.25turn, #526D82, #9DB2BF, #61e3e5);
    
}
button {
    margin-left: 5rem;
    width: 290px;
    border-radius: 15rem;
    background-color: #3498db; /* Button background color */
    color: #ffffff; /* Text color */
    border: none; /* Remove button border */
    padding: 12px 20px; /* Add padding for better appearance */
    cursor: pointer; /* Change cursor to pointer on hover */
  }

  /* Define the hover effect */
  button:hover {
    background-color: #2980b9; /* New background color on hover */
  }
.image img{
  height:300px;
  width:300px;
  box-shadow: 20px 20px rgb(102, 133, 157);
}

.grid{
  display:flex;
  background-color:light-grey;
  padding:100px;

}
.text{
  padding:5px 180px 50px;
}